@model IEnumerable<DaPazWebApp.Models.EmpleadoModel>

@{
    ViewData["Title"] = "Consultar Empleados";
    Layout = "_Layout";
}

<div class="container" style="margin-top:35px; margin-bottom:135px">
    <div class="d-flex justify-between align-items-center encabezado-empleados">
        <h2 class="m-0">Empleados registrados</h2>
        <a asp-controller="Empleado" asp-action="AgregarE" class="btn-prov">
            + Agregar
        </a>
    </div>

    <table class="table table-bordered" id="tablaEmpleados">
    <thead>
        <tr>
            <th>ID Empleado</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Salario</th>
            <th>Telefono</th>
            <th>Fecha Ingreso</th>
            <th>ID Usuario</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var empleado in Model)
    {
        <tr>
            <td>@empleado.idEmpleado</td>
            <td>@empleado.nombre</td>
            <td>@empleado.apellido</td>
            <td>@empleado.correo</td>
            <td>@empleado.salario</td>
            <td>@empleado.telefono</td>
            <td>@empleado.fechaIngreso.ToString("yyyy-MM-dd")</td>
            <td>@empleado.idUsuario</td>
                    <td>

                        <a asp-controller="Empleado" asp-action="EditarE" asp-route-id="@empleado.idEmpleado" class="btn btn-sm btn-edit">
                            Editar
                        </a>

                    </td>
        </tr>
    }
    </tbody>
</table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}