<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="author" content="FloristeriaDa'Paz" />
	<link rel="shortcut icon" href="~/favicon.png" />

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">


	<!-- Bootstrap CSS -->
	<link href="~/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
	<link href="~/css/tiny-slider.css" rel="stylesheet" />
	<link href="~/css/style.css" rel="stylesheet" />
	<title>Floristeria Da'Paz</title>
</head>

@using Microsoft.AspNetCore.Http

@{
    var nombreUsuario = Context.Session.GetString("Nombre") ?? "Invitad@";
    var rol = (Context.Session.GetString("Rol") ?? "Invitad@").Trim();
	var idUsuario = Context.Session.GetInt32("IdUsuario");
}

<body>
	<header>
		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
			<div class="container">
				<a class="navbar-brand brand-home" asp-controller="Home" asp-action="Index">Floristería Da'Paz</a>

				<button class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarsFurni"
						aria-controls="navbarsFurni"
						aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li><a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a></li>
						<li><a class="nav-link" asp-controller="Home" asp-action="Shop">Catálogo</a></li>
						<li><a class="nav-link" asp-controller="Home" asp-action="About">Nosotros</a></li>
						<li><a class="nav-link" asp-controller="Home" asp-action="Services">Servicios</a></li>
						<li><a class="nav-link" asp-controller="Home" asp-action="Contact">Contacto</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle"
							   href="#"
							   id="adminDropdown"
							   role="button"
							   data-bs-toggle="dropdown"
							   aria-expanded="false">
								Administrador
							</a>
							<ul class="dropdown-menu" aria-labelledby="adminDropdown">
								<li><a class="dropdown-item" href="#" data-value="dashboard">Dashboards</a></li>
								<li><a class="dropdown-item" asp-controller="Producto" asp-action="Index">Inventario</a></li>
								<li><a class="dropdown-item" asp-controller="CategoriaProducto" asp-action="ConsultarCategoriasP">Categorias productos</a></li>
								<li><a class="dropdown-item" asp-controller="CategoriaArreglo" asp-action="ConsultarCategoriasA">Categorias arreglos</a></li>
								<li><a class="dropdown-item" asp-controller="Promociones" asp-action="Index">Promociones</a></li>
								<li><a class="dropdown-item" asp-controller="Proveedor" asp-action="Index">Proveedores</a></li>
								<li><a class="dropdown-item" asp-controller="Arreglo" asp-action="Index">Arreglos</a></li>
								<li><a class="dropdown-item" asp-controller="Usuario" asp-action="ConsultarUsuarios">Usuarios</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle"
							   href="#"
							   id="planillaDropdown"
							   role="button"
							   data-bs-toggle="dropdown"
							   aria-expanded="false">
								Planilla
							</a>
							<ul class="dropdown-menu" aria-labelledby="planillaDropdown">
								<li><a class="dropdown-item" asp-controller="Empleado" asp-action="ConsultarEmpleados">Empleados</a></li>
								<li><a class="dropdown-item" href="#" data-value="deduccion">Deducciones</a></li>
								<li><a class="dropdown-item" href="#" data-value="horaextra">Horas extra</a></li>
								<li><a class="dropdown-item" href="#" data-value="incapacidad">Incapacidades</a></li>
								<li><a class="dropdown-item" href="#" data-value="vacacion">Vacaciones</a></li>
								<li><a class="dropdown-item" href="#" data-value="liquidacion">Liquidaciones</a></li>
							</ul>
						</li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="~/images/user.svg" width="20" height="20" />
							</a>
							<ul class="dropdown-menu" aria-labelledby="userDropdown">
								@if (nombreUsuario != "Invitad@")
								
								{
									<li>
										<a class="dropdown-item"
										   asp-controller="Usuario"
										   asp-action="EditarUsuario"
										   asp-route-id="@idUsuario">
											Editar Usuario
										</a>
									</li>
									<li><a class="dropdown-item" href="#" data-value="CambiarContraseña">CambiarContraseña</a></li>
									<li><a class="dropdown-item" href="#" data-value="CerrarSesion">CerrarSesion</a></li>

								}
								@if (rol == "Invitad@")
								{
									<li><a class="dropdown-item" asp-controller="Login" asp-action="Login">Iniciar Sesión</a></li>
								}
							</ul>
						</li>
						<li><a class="nav-link" asp-area="" asp-page="/Cart"><img src="~/images/cart.svg" width="20" height="20" /></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main role="main" class="pb-3">
		@RenderBody()
		<p>Usuario actual: @nombreUsuario</p>
		<p>IdUsuario actual: @idUsuario</p>
	</main>

	<!-- Start Footer Section -->
	<footer class="footer-section">
			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
						</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
			</div>
	</footer>
	<!-- End Footer Section -->

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/tiny-slider.js"></script>
	<script src="~/js/custom.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>


	@RenderSection("Scripts", required: false)
</body>
</html>